//MAPA COLORES
$texto-blanco:    ivory;
$texto-gris:      rgb(196, 196, 196);
$dark:            rgb(27, 27, 27);
$all-bg:          rgb(59, 59, 59);

$colors:(
"texto-blanco":    $texto-blanco,
"texto-gris":      $texto-gris,
"dark":            $dark,
);

$primary:          $texto-blanco;
$secondary:        $texto-gris;
$dark:             $dark;


 //LINKS
$link-color:             $secondary;
$link-decoration:        underline;
$link-hover-color:       $primary;
$link-hover-decoration:  underline;

//TAMAÑO DE FUENTE
$base-font-size: 1rem;

//MEDIA QUERYs
@mixin hastanotebook {@media(max-width:991px){@content}};
@mixin desdenotebook {@media(min-width:992px){@content}};
@mixin hastatablet   {@media(max-width:767px){@content}};
@mixin desdetablet   {@media(min-width:768px){@content}};
@mixin hastamobile   {@media(max-width:576px){@content}};


//FUENTES
h1, h2, h3, h4, a, nav span{
    font-family: "OSWALD", sans-serif;
}

p{
    font-family: "roboto", sans-serif;
    color: $secondary;
}

// EXTENDS
.titulos-grandes{
        font-weight: bold;
        letter-spacing: 3px;
        font-size: $base-font-size * 2;
        text-transform: uppercase;
}

.centrador{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.link-en-texto{
    font-family: "roboto", sans-serif;
        font-size: $base-font-size * 1.2;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            color: $primary;
            transform: scale(1.1);
        }
}

//SIZES EXTRA

$sizes: (
    90: 90%,
    70: 70%
);

@import "bootstrap/bootstrap.scss";
@import "estilos-mp.scss";
